:root {
    text-align: center;
    --verdeacqua: #1abc9cff;
    --nero: #2c3e50ff;
    scroll-behavior: smooth;
}

h1 {
    text-transform: uppercase;
}

nav, footer footer{
    background-color: var(--nero);
    color: white;
}

nav {
    text-align: initial;
    padding: 1em;
}

nav .row {
    align-items: center;
}

nav #menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1em;
    margin:0
}

a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: unset;
    color: unset;
    border: 1px solid;
    border-radius: .2em;
    padding: .2em .5em;
}

nav button {
    display: none;
    line-height: 1em;
}

@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }

    nav button {
        display: initial;
    }
}


header, #about {
    background-color: var(--verdeacqua);
    color: white;
}

.img {
    height: 250px;
    background-color: red;
    margin-bottom: 1em;
}

section {
    padding: 2em 0;
}

footer {
    background-color: #3a546dff;
    color: white;
}


