:root {
    text-align: center;
    --verdeacqua: #1abc9cff;
    --nero: #2c3e50ff;
}

h1 {
    text-transform: uppercase;
}

nav, footer footer{
    background-color: var(--nero);
    color: white;
}

nav {
    text-align: initial;
}

nav #menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: unset;
}

nav button {
    display: none;
    background-color: unset;
    color: unset;
}

@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }

    nav button {
        display: initial;
    }
}


header, #about {
    background-color: var(--verdeacqua);
    color: white;
}

.img {
    height: 100px;
    background-color: red;
    margin-bottom: 1em;
}

footer {
    background-color: #3a546dff;
    color: white;
}


