:root {
    text-align: center;
    --verdeacqua: #1abc9cff;
}

h1 {
    text-transform: uppercase;
}

nav {
    background-color: #2c3e50ff;
    color: white;
    padding: 1em;
}

header {
    background-color: var(--verdeacqua);
    color: white;
}

.img {
    height: 100px;
    background-color: red;
    margin-bottom: 1em;
}

#about {
    background-color: var(--verdeacqua);
}

